---
title: "Check Everything"
menu:
  icon: thumbs-o-up
---
{% import "card.njk" as card %}


{% set crop = '?nf_resize=smartcrop&w=150&h=200' %}
{% call card.cell('') %}
<div class="flex">
  <img class="pr-2" src="/static/images/unsplash/braden-jarvis-Q2gcswjLhS8-unsplash.jpg{{ crop }}" alt="">
  <img class="pr-2" src="/static/images/unsplash/jerome-jome-ElvU9T6-b0M-unsplash.jpg{{ crop }}" alt="">
  <img class="pr-2" src="/static/images/unsplash/sara-dubler-Koei_7yYtIo-unsplash.jpg{{ crop }}" alt="">
  <img class="pr-2" src="/static/images/unsplash/sumit-chinchane-jWKk-0ZBUyg-unsplash.jpg{{ crop }}" alt="">
</div>
{% endcall %}
{% set crop = '?nf_resize=smartcrop&w=260&h=180' %}
{% call card.cell('') %}
<div class="flex">
  <img class="pr-2" src="/static/images/unsplash/braden-jarvis-Q2gcswjLhS8-unsplash.jpg{{ crop }}" alt="">
  <img class="pr-2" src="/static/images/unsplash/jerome-jome-ElvU9T6-b0M-unsplash.jpg{{ crop }}" alt="">
  <img class="pr-2" src="/static/images/unsplash/sara-dubler-Koei_7yYtIo-unsplash.jpg{{ crop }}" alt="">
  <img class="pr-2" src="/static/images/unsplash/sumit-chinchane-jWKk-0ZBUyg-unsplash.jpg{{ crop }}" alt="">
</div>
{% endcall %}


{% set home = collections.all | find('/index') %}


{% call card.cell('md:w-1/2') %}
<h2 class="font-bold text-xl">{{ home.data.title }}</h2>
{% debug home.data.page %}
{% endcall %}

{% for item in collections.all | branches(home) | reverse %}
{% call card.cell('md:w-1/2') %}
<h2 class="font-bold text-xl">{{ item.data.title }}</h2>
{% debug item.data.page %}
{% endcall %}
{% endfor %}
