# Windows & Personal preferences
desktop.ini
folder.ico

# (p)npm
node_modules/
package-lock.json
pnpm-lock.yaml

# Logs & tmp files
logs
*.log

# dotenv environment variables file
.env*

# Generated output
dist
public

# Local Netlify folder
.netlify
