---
title: "Gallery"
layout: simple.njk
---
{% set resize = '?nf_resize=smartcrop&w=400&h=225' %}

<img src="/static/images/unsplash/braden-jarvis-Q2gcswjLhS8-unsplash.jpg{{ resize }}" alt="">
<img src="/static/images/unsplash/jerome-jome-ElvU9T6-b0M-unsplash.jpg{{ resize }}" alt="">
<img src="/static/images/unsplash/sara-dubler-Koei_7yYtIo-unsplash.jpg{{ resize }}" alt="">
<img src="/static/images/unsplash/sumit-chinchane-jWKk-0ZBUyg-unsplash.jpg{{ resize }}" alt="">
