<!doctype html>
<!-- {{ pkg.name }} v{{ pkg.version }} | {% if pkg.private %}All rights reserved{% else %}{{ pkg.license }}{% endif %} | {{ pkg.author | safe }} -->
<html lang="{{ locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if title %}{{ title }} | {% endif %}{{ site.locales[locale].title }}</title>

  <link rel="icon" href="/static/images/icon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon-precomposed" href="/static/images/icon-256x256.png">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.min.css">
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

  <nav id="header" class="bg-white fixed w-full z-10 top-0 shadow">

    <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">

      <div class="w-1/2 pl-2 md:pl-0">
        <a class="text-gray-900 text-base xl:text-xl no-underline hover:no-underline font-bold" href="#">
          <i class="fa fa-graduation-cap fa-lg text-teal-600 pr-3"></i>{{ site.locales[locale].title }}
        </a>
      </div>

      <div class="w-1/2 pr-0">
        <div class="flex relative inline-block float-right">
          <div class="block lg:hidden pr-4">
            <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none">
              <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
            </button>
          </div>
        </div>
      </div>

      <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white z-20" id="nav-content">
        <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
          <li class="mr-6 my-2 md:my-0">
            <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-teal-600 no-underline hover:text-gray-900 border-b-2 border-teal-600 hover:border-purple-600">
              <i class="fa fa-home fa-fw mr-2 text-teal-600"></i>&nbsp;<span class="pb-1 md:pb-0 text-sm">Home</span>
            </a>
          </li>
          <li class="mr-6 my-2 md:my-0">
            <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-purple-500">
              <i class="fa fa-envelope fa-fw mr-2"></i>&nbsp;<span class="pb-1 md:pb-0 text-sm">Messages</span>
            </a>
          </li>
          <li class="mr-6 my-2 md:my-0">
            <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-purple-500">
              <i class="fa fa-key-modern fa-fw mr-2"></i>&nbsp;<span class="pb-1 md:pb-0 text-sm">Secrets</span>
            </a>
            </li>
          </ul>
        </div>

       </div>

   </nav>

  <div class="container w-full mx-auto pt-20">
    <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">

      <div class="flex flex-wrap">

        <div class="w-full p-3">
          <div class="bg-white border rounded shadow p-2">
            <div class="flex flex-row items-center">
              <div class="flex-shrink pr-4">
                <div class="rounded p-3 bg-green-600"><i class="fa fa-university fa-2x fa-fw fa-inverse"></i></div>
              </div>
              <div class="flex-1 text-right md:text-center">
                <h5 class="font-bold uppercase text-gray-500">Total Revenue</h5>
                <h3 class="font-bold text-3xl">$3249&nbsp;<span class="text-green-500"><i class="fa fa-caret-up"></i></span></h3>
              </div>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 xl:w-1/3 p-3">
          <div class="bg-white border rounded shadow p-2">
            <div class="flex flex-row items-center">
              <div class="flex-shrink pr-4">
                <div class="rounded p-3 bg-green-600"><i class="fa fa-university fa-2x fa-fw fa-inverse"></i></div>
              </div>
              <div class="flex-1 text-right md:text-center">
                <h5 class="font-bold uppercase text-gray-500">Total Revenue</h5>
                <h3 class="font-bold text-3xl">$3249&nbsp;<span class="text-green-500"><i class="fa fa-caret-up"></i></span></h3>
              </div>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 xl:w-1/3 p-3">
          <div class="bg-white border rounded shadow p-2">
            <div class="flex flex-row items-center">
              <div class="flex-shrink pr-4">
                <div class="rounded p-3 bg-indigo-600"><i class="fa fa-tasks fa-2x fa-fw fa-inverse"></i></div>
              </div>
              <div class="flex-1 text-right md:text-center">
                <h5 class="font-bold uppercase text-gray-500">To Do List</h5>
                <h3 class="font-bold text-3xl">7 tasks</h3>
              </div>
            </div>
          </div>
        </div>

      </div>

      <hr class="border-b-2 border-gray-400 my-8 mx-4">

      <div class="flex flex-row flex-wrap flex-grow mt-2">

        <div class="w-full md:w-1/2 xl:w-1/3 p-3">
          <div class="bg-white border rounded shadow">
            <div class="border-b p-3">
              <h5 class="font-bold uppercase text-gray-600">Template</h5>
            </div>
            <div class="p-5">
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 p-3">
          <div class="bg-white border rounded shadow">
            <div class="border-b p-3">
              <h5 class="font-bold uppercase text-gray-600">Graph</h5>
            </div>
            <div class="p-5">
            </div>
          </div>
        </div>

        <div class="w-full p-3">
          <div class="bg-white border rounded shadow">
            <div class="border-b p-3">
              <h5 class="font-bold uppercase text-gray-600">Table</h5>
            </div>
            <div class="p-5">
              <p class="py-2"><a href="#">See More issues...</a></p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


{% block body -%}{%- endblock %}

  <footer class="bg-white border-t border-gray-400 shadow">
    <div class="container max-w-md mx-auto flex py-8">
      <div class="w-full mx-auto flex flex-wrap">

        <div class="flex w-full md:w-1/2 ">
          <div class="px-8">
            <h3 class="font-bold font-bold text-gray-900">About</h3>
            <p class="py-4 text-gray-600 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>

        <div class="flex w-full md:w-1/2">
          <div class="px-8">
            <h3 class="font-bold font-bold text-gray-900">Social</h3>
            <ul class="list-reset items-center text-sm pt-3">
              <li><a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="#">Add social link</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </footer>

  <script>
  var navMenuDiv = document.getElementById("nav-content");
  var navMenu = document.getElementById("nav-toggle");

  document.onclick = check;

  function check(e) {
    var target = (e && e.target) || (event && event.srcElement);

    if (!checkParent(target, navMenuDiv)) {
      if (checkParent(target, navMenu)) {
        if (navMenuDiv.classList.contains("hidden")) {
          navMenuDiv.classList.remove("hidden");
        } else {
          navMenuDiv.classList.add("hidden");
        }
      } else {
        navMenuDiv.classList.add("hidden");
      }
    }
  }

  function checkParent(t, elm) {
    while (t.parentNode) {
      if (t == elm) return true;
      t = t.parentNode;
    }
    return false;
  }
  </script>
</body>
</html>
