<!doctype html>
<!-- {{ pkg.name }} v{{ pkg.version }} | {% if pkg.private %}All rights reserved{% else %}{{ pkg.license }}{% endif %} | {{ pkg.author | safe }} -->
<html lang="{{ locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if title %}{{ title }} | {% endif %}{{ site.locales[locale].title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/styles.min.css">
</head>
<body>

  <section class="band">
    <div class="container">
      {% block body -%}{{ content | safe }}{%- endblock %}
    </div>
    {% if footnotes %}<div class="container">-&nbsp;<i>{{ footnotes | safe }}</i>&nbsp;-</div>{% endif %}

</body>
</html>
