---
eleventyExcludeFromCollections: true
title: ""
permalink: sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all | reverse %}  <url><loc>https://xxxx.123{{ item.url }}</loc></url>
{% endfor %}</urlset>
